.contact{
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; 
    height: 550px;
    width: 500px;
    background-color: #000;
    border-radius: 12px;
    opacity: 93%;
}
  
.contact form {
    display: flex;
    flex-direction: column;
    background-color: #000000;
    height: 100%;
    width: 100vh;
    border-radius: 7px;
    padding: 40px;
    box-shadow: 10px 10px 40px rgba(0, 0, 0, 0.4);
    gap: 16px;
}
  
.contact h2 {
    display: flex;
    justify-content: center;
    font: sans-serif;
    font-size: x-large;
    padding-bottom: 10px;
}
  