
.optionCardContainer {
  display: flex;
  width: 302px;
  flex-direction: column;
  align-items: flex-start;

  overflow: hidden;
  border-radius: 16px;
  background: linear-gradient(
    163deg,
    rgba(0, 0, 0, 0.5) 32.38%,
    rgba(63, 63, 63, 0.5) 131.97%
  );
  backdrop-filter: blur(104px);
  -webkit-backdrop-filter: blur(104px);
  border: 1px solid #3e3e3e;

  transition: filter 1s ease;
}

.optionCardContainer:hover {
  background: linear-gradient(132deg, #c0f 21.17%, #8000ff 114.8%);
  backdrop-filter: blur(32px);
  -webkit-backdrop-filter: blur(32px);
}

.optionCardImgContainer {
  position: relative;
  width: 302px;
  height: 187px;
  background: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(5.5px);
  -webkit-backdrop-filter: blur(5.5px);
}

.optionCardImgContainerBlurEffect {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;

  background: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(5.5px);
  -webkit-backdrop-filter: blur(5.5px);

  transition: filter 1s ease;
}

.optionCardContainer:hover .optionCardImgContainerBlurEffect {
  background: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(0px);
  -webkit-backdrop-filter: blur(0px);
}

.optionCardSvg {
  position: absolute;
  left: 24px;
  bottom: 24px;
  padding: 16px;
  border-radius: 100px;
  background: rgba(7, 7, 7, 0.3);
  z-index: 99;
}

.optionCardContent {
  display: flex;
  padding: 24px;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  align-self: stretch;
}